/* styles.module.css */

.cards {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 300px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: transform 400ms;
    margin: 10px;
    padding: 20px;
    background-color: white;
  }
  
  .card:hover {
    transform: scale(1.1, 1.1);
  }
  
  .cards:hover .card:not(:hover) {
    /* filter: blur(0px); */
    transform: scale(0.9, 0.9);
  }
  
  .tip {
    font-size: 1em;
    font-weight: 700;
  }
  
  .second-text {
    font-size: 0.7em;
  }
  
  @media (max-width: 768px) {
    .card {
      width: 100%;
      margin: 10px 0;
    }
    .card:hover {
      transform: none;
    }
    .cards:hover .card:not(:hover) {
      filter: none;
      transform: none;
    }
  }
  