/* styles.module.css */

.inputContainer {
    position: relative;
    margin: 20px;
  }
  
  .inputField {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
  }
  
  .inputLabel {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  .inputHighlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #4caf50;
    transition: all 0.3s ease;
  }
  
  .inputField:focus + .inputLabel {
    top: -20px;
    font-size: 12px;
    color: #4caf50;
  }
  
  .inputField:focus + .inputLabel + .inputHighlight {
    width: 100%;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    background-color: #4caf50;
    color: #ffffff;
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  .btnDisabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  